:root {
    --bg: #000;
    --bg2: #fff;
    --bg3: rgb(255, 0, 0);
    --hover-bg: #ff90e8;
    --hover-text: #000;
}

* {
    box-sizing: border-box;
    font-weight: normal;
    font-family: 'Comic Sans MS';
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(to right, #abcdef, lightpink);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.cat-notes__notes--note {
    position: relative;
    display: flex;
    gap: 10px;
    max-width: 70%;
    min-width: 200px;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg2);
    padding: 15px 10px 25px 10px;
}

.cat-notes__notes-hld {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 25px;
}

.cat-notes__title {
    font-size: 45px;
    display: block;
    text-align: center;
    margin-bottom: 50px;
}

.cat-note--label {
    font-size: 20px;
}

.note-delete-button {
    position: absolute;
    top: -9px;
    right: -10px;
    color: var(--bg2);
    background-color: var(--bg3);
    border: none;
    font-weight: 900;
    cursor: pointer;
}

.note-title {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    overflow-wrap: anywhere;
}

.note-message {
    font-size: 24px;
    color: rgba(var(--bg), .7);
}

textarea {
    overflow: hidden;
    resize: none;
    width: 80%;
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .2em solid #E91E63;
    background: var(--bg);
    border-radius: .2em .2em 0 0;
    padding: .4em;
    color: var(--bg2);
}

textarea:focus {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
}

input[type=text] {
    width: 80%;
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .2em solid #E91E63;
    background: var(--bg);
    border-radius: .2em .2em 0 0;
    padding: .4em;
    color: var(--bg2);
}

.button {
    color: #fff;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
    cursor: pointer;
    margin-top: 10px;
}

input[type=text]:focus {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
}

.button:hover {
    color: var(--hover-text);
    background: var(--hover-bg);
}

.button:active {
    transform: translate(0);
    box-shadow: none;
}
