* {
    font-family: monospace;
}

body {
    background-color: rgb(255, 219, 0, .38);
}

.result {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
}

img {
    max-width: 150px;
    margin-right: 10px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.pokemon-hld {
    position: relative;
}

.pokemon-name-hld {
    user-select: none;
    display: none;
}

.pokemon-name-hld.is-active {
    display: block;
}

.pokemon-name {
    position: absolute;
    top: 85%;
    left: 0;
}

.pokemon-name-text {
    background-color: rgba(255, 192, 203, .59);
    filter: blur(5px);
}

.pokemon-name-text2 {
    position: absolute;
    left: 0;
    width: 15px;
    overflow: hidden;
    letter-spacing: 10px;
    white-space: nowrap;
}

button {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: yellow;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    touch-action: manipulation;
    letter-spacing: 1px;
    text-wrap: nowrap;
    transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;
}

h2 {
    font-size: 25px;
    text-align: center;
}

input {
    background-color: #ff68a2;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    touch-action: manipulation;
    letter-spacing: 1px;
    text-wrap: nowrap;
    transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;
}

button:hover,
button:focus {
    background-color: #F082AC;
    box-shadow: 0 0 5px 0 black;
}

