/*      COLOR VARIABLES     */
:root {
    --win-color: lightgreen;
    --lose-color: red;
    --draw-color: beige;
    --computer-choice-color: lightpink;
    --user-choice-color: yellow;
}
/*          VARS END        */

@font-face {
    font-family: 'Comic Sans MS';
    src: url("ComicSansMS3.ttf");
}
* {
    font-family: 'Comic Sans MS';
    font-weight: normal;
    box-sizing: border-box;
}

body {
    background: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.buttons {
    display: flex;
    gap: 20px;
}

button {
    width: 125px;
    height: 125px;
    padding: 10px 20px;
    font-size: 56px;
    background: #6D7B8D;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #34495E;
}

.result {
    margin-top: 20px;
    font-size: 24px;
    color: white;
}

.hidden {
    display: none;
}

.computer-choice {
    color: var(--computer-choice-color);
}

.user-choice {
    color: var(--user-choice-color);
}

.win, #win-count {
    color: var(--win-color)
}

.lose, #lose-count {
    color: var(--lose-color)
}

.draw, #draw-count {
    color: var(--draw-color)
}

p:not(span) {
    color: rgba(255, 255, 255, .9);
}

.stats {
    margin-top: 20px;
    border: 1px solid white;
    padding: 10px 20px;
}
        
.choice-hld {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
